// Black
$color-black-1: #000000;
$color-black-2: #2F3136;
$color-black-3: #202225;
// Dark
$color-dark-1: #3D4B57;
$color-dark-2: #3B424F;
$color-dark-3: #475467;
// Blue
$color-blue-1: #19587D;
$color-blue-2: #3FA7FB;
$color-blue-3: #2F50DB;
$color-blue-4: #258FFB;
// Gray
$color-gray-1: #D2DCE7;
$color-gray-2: #EDEDED;
$color-gray-3: #F8F9FA;
$color-gray-4: #C7D2D9;
$color-gray-5: #DCE3E7;
$color-gray-6: #F2F4F7;
$color-gray-7: #CCCCCC;
// Other
$color-white: #FFFFFF;
$color-red: #B11313;
$color-email: #C5342A;
$color-whatsapp: #61BC48;
$color-yellow: #D37A2C;
$color-gold: #B8A17A;
$color-bg: #1D1D2B;