// Dark Colors
$color-black-1: #000000;
$color-black-2: #2F3136;
$color-black-3: #202225;
// Light Colors
$color-blue-1: #19587D;
$color-blue-2: #3FA7FB;
$color-blue-3: #2F50DB;
$color-gray-1: #D2DCE7;
$color-gray-2: #EDEDED;
$color-red: #B11313;
$color-white: #FFFFFF;
// Other
$color-email: #C5342A;
$color-whatsapp: #61BC48;
$color-yellow: #D37A2C;