@import '../base/colors';
@import '../base/typo';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Varela';
}

body {
  background: $color-bg;
  opacity: 0.8;
  color: $color-white;
  font-family: 'Geometria';
}

.container {
  width: 60%;
  margin: 0 auto;
}

.audio {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
main {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: $color-white;
}