@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter.ttf);
}

@font-face {
  font-family: 'Varela';
  src: url(../../fonts/Varela.ttf);
}

@font-face {
  font-family: 'Varela Round';
  src: url(../../fonts/VarelaRound.ttf);
}