@import '../base/colors';
@import '../base/global';
@import '../base/typo';

@mixin onHover($clr) {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px $clr);
}

#skills,
#tech-stack,
#education,
#projects {
  margin-top: 100px;
  font-family: 'Geometria';
  font-size: medium;
  img:hover {
    @include onHover($color-white);
  }
}

#skills,
#tech-stack {
  .content {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;
      .icon {
        width: 4%;
        margin-right: 20px;
        cursor: pointer;
      }
      h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: $color-yellow;
        font-family: 'Geometria';
        cursor: pointer;
        &:hover {
          @include onHover($color-white);
        }
      }
    }
    .items {
      margin-top: 20px;
      padding-left: 50px;
      .item {
        margin: 5px 0;
        display: flex;
        align-items: center;
        .fa-solid {
          margin-right: 10px;
          color: $color-gold;
          font-size: 30px;
        }
        h4 {
          font-size: 20px;
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

#projects,
#education {
  .content {
    .title {
      display: flex;
      align-items: center;
      .icon {
        width: 4%;
        margin-right: 20px;
        cursor: pointer;
      }
      h1 {
        font-size: 40px;
        text-transform: uppercase;
        color: $color-yellow;
        font-family: 'Geometria';
        cursor: pointer;
        &:hover {
          @include onHover($color-white);
        }
      }
    }
  }
}

#tech-stack {
  .content {
    .items {
      .domain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        .icon {
          margin-right: 20px;
          cursor: pointer;
        }
        .tech {
          font-size: 20px;
          border: 2px solid $color-gold;
          border-radius: 5px;
          width: 120px;
          text-align: center;
          padding: 5px;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            @include onHover($color-white);
          }
        }
      }
    }
  }
}

// #projects{}

#education{
  margin-bottom: 100px
}