@import '../base/colors';

.bars {
  position: fixed;
  top: 0;
  left: 200px;
  height: 60vh;
  .bar {
    position: absolute;
    border-right: 4px solid $color-white;
  }
  .one {
    height: 100%;
  }
  .two {
    height: 75%;
    right: 0;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 75%;
    left: 10px;
    .fa-brands {
      margin-top: 10px;
      font-size: 35px;
      &:hover {
        transform: scale(1.2);
        -webkit-filter: brightness(.5);
        filter: brightness(.5);
      }
    }
  }
}