@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria.eot");
  src: url("fonts/Geometria.eot") format("embedded-opentype"), url("fonts/Geometria.woff2") format("woff2"), url("fonts/Geometria.woff") format("woff"), url("fonts/Geometria.ttf") format("truetype"), url("fonts/Geometria.svg#Geometria") format("svg");
}
@font-face {
  font-family: "Heebo";
  src: url("fonts/HeeboVariableFont_wght.eot");
  src: url("fonts/HeeboVariableFont_wght.eot") format("embedded-opentype"), url("fonts/HeeboVariableFont_wght.woff2") format("woff2"), url("fonts/HeeboVariableFont_wght.woff") format("woff"), url("fonts/HeeboVariableFont_wght.ttf") format("truetype"), url("fonts/HeeboVariableFont_wght.svg#HeeboVariableFont_wght") format("svg");
}
@font-face {
  font-family: "Nunito";
  src: url("fonts/NunitoRegular.eot");
  src: url("fonts/NunitoRegular.eot") format("embedded-opentype"), url("fonts/NunitoRegular.woff2") format("woff2"), url("fonts/NunitoRegular.woff") format("woff"), url("fonts/NunitoRegular.ttf") format("truetype"), url("fonts/NunitoRegular.svg#NunitoRegular") format("svg");
}
@font-face {
  font-family: "Varela";
  src: url("fonts/Varela.eot");
  src: url("fonts/Varela.eot") format("embedded-opentype"), url("fonts/Varela.woff2") format("woff2"), url("fonts/Varela.woff") format("woff"), url("fonts/Varela.ttf") format("truetype"), url("fonts/Varela.svg#Varela") format("svg");
}
@font-face {
  font-family: "VarelaRound";
  src: url("fonts/VarelaRound.eot");
  src: url("fonts/VarelaRound.eot") format("embedded-opentype"), url("fonts/VarelaRound.woff2") format("woff2"), url("fonts/VarelaRound.woff") format("woff"), url("fonts/VarelaRound.ttf") format("truetype"), url("fonts/VarelaRound.svg#VarelaRound") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Varela";
}

body {
  background: #000000;
  color: #FFFFFF;
  font-family: "Geometria";
}

.container {
  width: 60%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria.eot");
  src: url("fonts/Geometria.eot") format("embedded-opentype"), url("fonts/Geometria.woff2") format("woff2"), url("fonts/Geometria.woff") format("woff"), url("fonts/Geometria.ttf") format("truetype"), url("fonts/Geometria.svg#Geometria") format("svg");
}
@font-face {
  font-family: "Heebo";
  src: url("fonts/HeeboVariableFont_wght.eot");
  src: url("fonts/HeeboVariableFont_wght.eot") format("embedded-opentype"), url("fonts/HeeboVariableFont_wght.woff2") format("woff2"), url("fonts/HeeboVariableFont_wght.woff") format("woff"), url("fonts/HeeboVariableFont_wght.ttf") format("truetype"), url("fonts/HeeboVariableFont_wght.svg#HeeboVariableFont_wght") format("svg");
}
@font-face {
  font-family: "Nunito";
  src: url("fonts/NunitoRegular.eot");
  src: url("fonts/NunitoRegular.eot") format("embedded-opentype"), url("fonts/NunitoRegular.woff2") format("woff2"), url("fonts/NunitoRegular.woff") format("woff"), url("fonts/NunitoRegular.ttf") format("truetype"), url("fonts/NunitoRegular.svg#NunitoRegular") format("svg");
}
@font-face {
  font-family: "Varela";
  src: url("fonts/Varela.eot");
  src: url("fonts/Varela.eot") format("embedded-opentype"), url("fonts/Varela.woff2") format("woff2"), url("fonts/Varela.woff") format("woff"), url("fonts/Varela.ttf") format("truetype"), url("fonts/Varela.svg#Varela") format("svg");
}
@font-face {
  font-family: "VarelaRound";
  src: url("fonts/VarelaRound.eot");
  src: url("fonts/VarelaRound.eot") format("embedded-opentype"), url("fonts/VarelaRound.woff2") format("woff2"), url("fonts/VarelaRound.woff") format("woff"), url("fonts/VarelaRound.ttf") format("truetype"), url("fonts/VarelaRound.svg#VarelaRound") format("svg");
}
#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  font-family: "Geometria";
  font-weight: 300;
  font-size: medium;
}
#hero .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero .profile .picture {
  margin: 15px auto;
  border: 5px solid #B11313;
  border-radius: 50%;
  cursor: pointer;
}
#hero .profile .picture:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px 0 0 20px #FFFFFF);
}
#hero .profile .bio {
  display: block;
  text-align: justify;
}
#hero .profile .bio p {
  font-size: 18px;
}
#hero .profile .bio p .fa-solid {
  color: #B8A17A;
}
#hero .description {
  font-size: 20px;
}
#hero .description .name,
#hero .description .role,
#hero .description .contact,
#hero .description .file {
  margin: 15px 0;
}
#hero .description .role a {
  color: #3FA7FB;
}
#hero .description .role a:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}
#hero .description .name {
  font-size: 40px;
  cursor: pointer;
}
#hero .description .name:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}
#hero .description .contact span {
  margin: 10px;
}
#hero .description .contact span .fa-envelope {
  color: #C5342A;
  cursor: pointer;
}
#hero .description .contact span .fa-phone {
  color: #D37A2C;
  cursor: pointer;
}
#hero .description .contact span .fa-whatsapp {
  color: #61BC48;
  cursor: pointer;
}
#hero .description .contact span a:hover,
#hero .description .contact span .fa-solid:hover,
#hero .description .contact span .fa-brands:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}
#hero .description .cta {
  border-radius: 10px;
  background: #258FFB;
  padding: 10px;
  width: 70%;
  text-align: center;
}
#hero .description .cta .fa-file {
  cursor: pointer;
}
#hero .description .cta a {
  font-size: 18px;
}
#hero .description .cta a:hover,
#hero .description .cta .fa-file:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}
#hero .description .cta i {
  color: #B11313;
}
#hero .description .cta:hover {
  background: #B11313;
}
#hero .description .cta:hover a {
  color: #000000;
}
#hero .description .cta:hover i {
  color: #FFFFFF;
}

.bars {
  position: fixed;
  top: 0;
  left: 200px;
  height: 60vh;
}
.bars .bar {
  position: absolute;
  border-right: 3px solid #D37A2C;
}
.bars .one {
  height: 100%;
}
.bars .two {
  height: 75%;
  right: 0;
}
.bars .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 75%;
  left: 10px;
}
.bars .social .fa-brands {
  margin-top: 10px;
  font-size: 35px;
}
.bars .social .fa-brands:hover {
  transform: scale(1.2);
  filter: brightness(0.5);
}

@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria.eot");
  src: url("fonts/Geometria.eot") format("embedded-opentype"), url("fonts/Geometria.woff2") format("woff2"), url("fonts/Geometria.woff") format("woff"), url("fonts/Geometria.ttf") format("truetype"), url("fonts/Geometria.svg#Geometria") format("svg");
}
@font-face {
  font-family: "Heebo";
  src: url("fonts/HeeboVariableFont_wght.eot");
  src: url("fonts/HeeboVariableFont_wght.eot") format("embedded-opentype"), url("fonts/HeeboVariableFont_wght.woff2") format("woff2"), url("fonts/HeeboVariableFont_wght.woff") format("woff"), url("fonts/HeeboVariableFont_wght.ttf") format("truetype"), url("fonts/HeeboVariableFont_wght.svg#HeeboVariableFont_wght") format("svg");
}
@font-face {
  font-family: "Nunito";
  src: url("fonts/NunitoRegular.eot");
  src: url("fonts/NunitoRegular.eot") format("embedded-opentype"), url("fonts/NunitoRegular.woff2") format("woff2"), url("fonts/NunitoRegular.woff") format("woff"), url("fonts/NunitoRegular.ttf") format("truetype"), url("fonts/NunitoRegular.svg#NunitoRegular") format("svg");
}
@font-face {
  font-family: "Varela";
  src: url("fonts/Varela.eot");
  src: url("fonts/Varela.eot") format("embedded-opentype"), url("fonts/Varela.woff2") format("woff2"), url("fonts/Varela.woff") format("woff"), url("fonts/Varela.ttf") format("truetype"), url("fonts/Varela.svg#Varela") format("svg");
}
@font-face {
  font-family: "VarelaRound";
  src: url("fonts/VarelaRound.eot");
  src: url("fonts/VarelaRound.eot") format("embedded-opentype"), url("fonts/VarelaRound.woff2") format("woff2"), url("fonts/VarelaRound.woff") format("woff"), url("fonts/VarelaRound.ttf") format("truetype"), url("fonts/VarelaRound.svg#VarelaRound") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Varela";
}

body {
  background: #000000;
  color: #FFFFFF;
  font-family: "Geometria";
}

.container {
  width: 60%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  width: 70%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

@font-face {
  font-family: "Geometria";
  src: url("fonts/Geometria.eot");
  src: url("fonts/Geometria.eot") format("embedded-opentype"), url("fonts/Geometria.woff2") format("woff2"), url("fonts/Geometria.woff") format("woff"), url("fonts/Geometria.ttf") format("truetype"), url("fonts/Geometria.svg#Geometria") format("svg");
}
@font-face {
  font-family: "Heebo";
  src: url("fonts/HeeboVariableFont_wght.eot");
  src: url("fonts/HeeboVariableFont_wght.eot") format("embedded-opentype"), url("fonts/HeeboVariableFont_wght.woff2") format("woff2"), url("fonts/HeeboVariableFont_wght.woff") format("woff"), url("fonts/HeeboVariableFont_wght.ttf") format("truetype"), url("fonts/HeeboVariableFont_wght.svg#HeeboVariableFont_wght") format("svg");
}
@font-face {
  font-family: "Nunito";
  src: url("fonts/NunitoRegular.eot");
  src: url("fonts/NunitoRegular.eot") format("embedded-opentype"), url("fonts/NunitoRegular.woff2") format("woff2"), url("fonts/NunitoRegular.woff") format("woff"), url("fonts/NunitoRegular.ttf") format("truetype"), url("fonts/NunitoRegular.svg#NunitoRegular") format("svg");
}
@font-face {
  font-family: "Varela";
  src: url("fonts/Varela.eot");
  src: url("fonts/Varela.eot") format("embedded-opentype"), url("fonts/Varela.woff2") format("woff2"), url("fonts/Varela.woff") format("woff"), url("fonts/Varela.ttf") format("truetype"), url("fonts/Varela.svg#Varela") format("svg");
}
@font-face {
  font-family: "VarelaRound";
  src: url("fonts/VarelaRound.eot");
  src: url("fonts/VarelaRound.eot") format("embedded-opentype"), url("fonts/VarelaRound.woff2") format("woff2"), url("fonts/VarelaRound.woff") format("woff"), url("fonts/VarelaRound.ttf") format("truetype"), url("fonts/VarelaRound.svg#VarelaRound") format("svg");
}
#skills,
#tech-stack,
#education,
#projects {
  margin-top: 100px;
  font-family: "Geometria";
  font-size: medium;
}
#skills img:hover,
#tech-stack img:hover,
#education img:hover,
#projects img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}

#skills .content,
#tech-stack .content {
  display: flex;
  flex-direction: column;
}
#skills .content .title,
#tech-stack .content .title {
  display: flex;
  align-items: center;
}
#skills .content .title .icon,
#tech-stack .content .title .icon {
  width: 4%;
  margin-right: 20px;
  cursor: pointer;
}
#skills .content .title h1,
#tech-stack .content .title h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #D37A2C;
  font-family: "Geometria";
  cursor: pointer;
}
#skills .content .title h1:hover,
#tech-stack .content .title h1:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}
#skills .content .items,
#tech-stack .content .items {
  margin-top: 20px;
  padding-left: 50px;
}
#skills .content .items .item,
#tech-stack .content .items .item {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
#skills .content .items .item .fa-solid,
#tech-stack .content .items .item .fa-solid {
  margin-right: 10px;
  color: #B8A17A;
  font-size: 30px;
}
#skills .content .items .item h4,
#tech-stack .content .items .item h4 {
  font-size: 20px;
}

#projects .content .title,
#education .content .title {
  display: flex;
  align-items: center;
}
#projects .content .title .icon,
#education .content .title .icon {
  width: 4%;
  margin-right: 20px;
  cursor: pointer;
}
#projects .content .title h1,
#education .content .title h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #D37A2C;
  font-family: "Geometria";
  cursor: pointer;
}
#projects .content .title h1:hover,
#education .content .title h1:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}

#education {
  margin-bottom: 100px;
}

#tech-stack .content .items .domain {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#tech-stack .content .items .domain .icon {
  margin-right: 20px;
  cursor: pointer;
}
#tech-stack .content .items .domain .tech {
  font-size: 20px;
  border: 2px solid #B8A17A;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}
#tech-stack .content .items .domain .tech:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 20px #FFFFFF);
}

footer {
  background-color: #3D4B57;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Geometria";
}
footer a {
  color: #B8A17A;
}
footer .content {
  margin: 40px auto;
  width: 80%;
  text-align: center;
}
footer .content h3 {
  padding-bottom: 10px;
}/*# sourceMappingURL=styles.css.map */