@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Mono&display=swap');

@font-face {
  font-family: 'FredokaOne';
  src: url('../assets/fonts/FredokaOne.ttf');
}
@font-face {
  font-family: 'Lexend-Bold';
  src: url('../assets/fonts/Lexend-Bold.ttf');
}
@font-face {
  font-family: 'Lexend-Regular';
  src: url('../assets/fonts/Lexend-Regular.ttf');
}
@font-face {
  font-family: 'Prompt-Bold';
  src: url('../assets/fonts/Prompt-Bold.ttf');
}
@font-face {
  font-family: 'Prompt-Regular';
  src: url('../assets/fonts/Prompt-Regular.ttf');
}
@font-face {
  font-family: 'Righteous';
  src: url('../assets/fonts/Righteous.ttf');
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
html, body {
    font-family: 'Lexend-Regular', 'Noto Sans', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
    font-style: 14px;
    width: 100%;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
p {
    text-align: justify;
}
ul {
    list-style: none;
}

/* Header Styles */
header {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img {
    max-width: 15%;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic {
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}
.profile-pic:hover {
  box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
}
.i-am {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.i-am span {
    font-family: 'FredokaOne';
}
.i-am .name {
    font-size: 25px;
    font-family: 'Righteous';
}
header .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .cta .icon-mode {
    margin-bottom: 10px;
}
.btn {
  padding: 0.5em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  width: 80px;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover {
    background-color: #258FFB;
}
.btn .file {
    font-size: 20px;
}

/* Navbar Styles */
nav {
    background-color: #000;
    width: 100%;
}
nav ul {
    width: 90%;
    margin: 0 auto;
}
nav ul li {
    display: inline-block;
}
nav a {
    padding: 10px 20px;
    color: #fff;
    display: block;
}
nav a:hover {
    background-color: #fff;
    color: #000;
}

/* Main Section Styles */
main {
    width: 90%;
    margin: 20px auto;
}
main:after, main:before {
    content: '';
    display: table;
}
main:after {
    clear: both;
}
section {
    width: 72%;
    float: left;
    margin-right: 3%;
}
article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}
article h2 {
    margin-bottom: 20px;
}
aside {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    float: left;
}
aside h2 {
    margin-left: 20px;
}
article h2,
aside h2 {
    font-family: 'Righteous';
}
.ex h4 {
    font-family: 'Prompt-Bold';
}
.ex h6 {
    font-family: 'Prompt-Regular';
}
aside .skills {
    padding: 20px;
}
aside span {
    padding: 10px;
    border-radius: 5px;
    display: block;
    background-color: #000;
    color: #fff;
    margin-bottom: 3px;
}
.skill {
    margin-bottom: 20px;
}
.skill .w3-tag {
    background-color: #727272;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}
.item {
    font-family: 'Lexend-Bold';
}

/* Footer Styles */
footer {
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width:800px)
{
    header {
        margin: 10px auto;
    }
    header img {
        max-width: 20%;
    }
    section, aside {
        float: none;
        width: 100%;
    }
    nav ul li {
        display: block;
        text-align: center;
    }
}
